
* {
    box-sizing: border-box;   
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

.form-group {
    margin-bottom: 25px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

label span {
    color: red;
}

.row {
    display: flex;
    gap: 15px;
}

select {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #f3c623;
}

button {
    width: 50%;
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #2e0d73, #e2b624);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    font-weight: bold;

    display: block;
    margin: 0 auto; 
}

button:hover {
    transform: translateY(-2px);
}

#result {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    white-space: pre-line;

}
#calculateBtn {
    color: #ffffff; 
}
input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #f3c623;
}
.clear-btn {
    width: 50%;
    margin: 15px auto 0;
    display: block;
    padding: 12px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: #ff5252;
    color: white;
    font-weight: bold;
}

.clear-btn:hover {
    background: #e53935;
}

/* DARK MODE STYLES 

body.dark-mode {
    background: #2d2727;
    color: #f1f1f1;
}

body.dark-mode .container {
    background: #989cd2;
    box-shadow: 0 10px 30px rgba(255,255,255,0.05);
}

body.dark-mode label {
    color: #ddd;
}

body.dark-mode select,
body.dark-mode input {
    background: #2d2727;
    color: #fff;
    border-color: #444;
}

body.dark-mode button {
    box-shadow: none;
}

body.dark-mode #calculateBtn {
    color: #000;
}

body.dark-mode .clear-btn {
    background: #b71c1c;
}

/* Toggle button *//*
.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 6px 12px;
    font-size: 12px;

    border-radius: 20px;
    border: none;
    cursor: pointer;

    background: #333;
    color: #fff;
}
.container {
    position: relative;
}

*/


.container {
    position: relative;
}

/* switch wrapper */
.theme-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* hide checkbox */
.theme-switch input {
    display: none;
}

/* switch background */
.theme-switch label {
    width: 60px;
    height: 30px;
    background: #000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

/* icons */
.theme-switch .icon {
    font-size: 14px;
    z-index: 2;
}

/* toggle circle */
.theme-switch label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
}

/* checked (dark mode ON) */
.theme-switch input:checked + label::after {
    transform: translateX(30px);
}

/* dark mode background change */
body.dark-mode {
    background: #2d2727;
    color: #f1f1f1;
}

body.dark-mode .container {
    background: #989cd2;
    box-shadow: 0 10px 30px rgba(255,255,255,0.05);
}


   /* EXPORT button */

.export-buttons {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.export-buttons button {
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: #1976d2;
    color: #fff;
}

.export-buttons button:hover {
    opacity: 0.85;
}

#exportArea {
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    color: #000;
}

